{% extends 'base.html' %}

{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}

{% block title %}Mentor-Home{% endblock title %}

{% block main_content %}


 <main id="main">
<form action="/postsignIn/" method="post">
	{% csrf_token %}
	<br/>
	<br/>
	<br/>
	
<!-- Enter Your Email: -->
	<label for="Email">Email</label>
	<input type="email"id="Email" name="email"><br><br>
<!-- Enter Your Password: -->
	<label for="Password">Password</label>
	<input type="password" id="Password" name="pass"><br><br>
	<input type="submit" value="SignIn"><br><br>
	<label>
	<input type="checkbox" checked="checked" name="remember"> Remember me
	</label>
	<button type="button" onclick="location.href='{% url 'signup' %} '">SignUp</button>
</form>
</main>
{% endblock main_content %}